{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <form method='POST' action="">
            {{ form.hidden_tag() }} <!-- 增加保護作用 -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-3">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class='form-control-label') }}
                    {% if form.title.errors %}
                        {{ form.title(class='form-control form-control-md mb-3 is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class='form-control form-control-md mb-3') }}
                    {% endif %} 
                </div>
                <div class="form-group">
                    {% if title == 'New Post' %}
                    {{ form.category.label(class='form-control-label') }}
                    {{ form.category(class='selectarea form-control form-control-md mb-3') }}
                    <div class="text-muted">Once it's set, it can not be changed</div>
                    {% else %}
                    <span class='form-control-label'>Category</span>
                    <div>{{ post.category }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class='form-control-label') }}
                    {% if form.content.errors %}
                        {{ form.content(class='form-control-md mb-3 is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class='textarea form-control form-control-md mb-3') }}
                    {% endif %} 
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info mb-3 mt-3') }}
            </div>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </div>
{% endblock content %}